<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>todo</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <main>
      <div class='hero-unit' id='todos'>
      </div>
      <div class="hero-unit">
        <h1>New TODO!</h1>
        <form id='newTodo' method='POST'>

          <fieldset>
            <label for='title'>Title</label>
            <input class='field' type='text' name='title' />
          </fieldset>

          <fieldset>
            <label for='due'>Due Date</label>
            <input class='field' type='data' name='due'   />
          </fieldset>

          <input type='submit' value='Create' />
        </form>
      </div>
    </main>

    <script type='text/template' id='todo'>
      <div><%= title %> [Due: <%= due %>]</div>
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
</body>
</html>
